<app-nav></app-nav>
<div class="container">
  <div class="header">
    CREAR NUEVA TAREA
  </div>
  <div class="content">
    <!-- Input para el título de la tarea -->
    <label for="tareaTitulo">Título:</label>
    <input type="text" id="tareaTitulo" [(ngModel)]="tareaTitulo" placeholder="Ingresa el título de la tarea" class="input-field">

    <!-- Textarea para la descripción -->
    <label for="tareaDescripcion">Descripción:</label>
    <textarea id="tareaDescripcion" [(ngModel)]="tareaDescripcion" placeholder="Ingresa la descripción de la tarea" class="input-field"></textarea>

    <!-- Selector de grupo -->
    <label for="grupo">Grupo:</label>
    <select id="grupo" [(ngModel)]="grupoSeleccionado" (change)="cargarSubgrupos()" class="input-field">
      <option *ngFor="let grupo of grupos" [value]="grupo">{{grupo}}</option>
    </select>

    <!-- Selector de subgrupo -->
    <label for="subgrupo">Subgrupo:</label>
    <select id="subgrupo" [(ngModel)]="subgrupoSeleccionado" class="input-field">
      <option *ngFor="let subgrupo of subgrupos" [value]="subgrupo">{{subgrupo}}</option>
    </select>
  </div>

  <div class="button-container">
    <button class="button" (click)="crearTarea()">CREAR TAREA</button>
  </div>
</div>
