<div class="container mt-3 ">
  <app-button btnClass="rounded-4"
              (btnClick)="toggleCollapse()">
    {{ grupoText }}
  </app-button>
  <div class="" [@collapseAnimation]="isCollapsed ? 'collapsed' : 'expanded'" class="mt-2">
    <div class="d-flex row">
      <app-subgrupo *ngFor="let subgrupo of subgrupos" [subgrupo]="subgrupo" (subgrupoSeleccionado)="onSubgrupoSeleccionado($event)"></app-subgrupo>

    </div>
    <button type="button" data-bs-toggle="modal"
            data-bs-target="#createSubGroupModal"
            style="border: none; background: none; padding: 0;">
      <i class="bi-2xl bi-plus-circle" style="font-size: 2rem;"></i>
    </button>


  </div>
<!-- Modal -->
<div class="modal fade" id="createSubGroupModal" tabindex="-1" aria-labelledby="createSubGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createSubGroupModalLabel">Crear Nuevo SubGrupo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="createSubgrupo()" #groupForm="ngForm">
          <div class="mb-3">
            <label for="subgroupName" class="form-label">Nombre del Sub Grupo</label>
            <input type="text"
                   class="form-control"
                   id="subgroupName"
                   [(ngModel)]="newSubgrupoName"
                   name="subgroupName"
                   required />
          </div>
          <button type="submit"
                  class="btn btn-primary w-100"
                  [disabled]="groupForm.invalid"
                  data-bs-dismiss="modal">
            Crear
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
