<nav class="d-flex flex-column bg-light position-fixed vh-100 " style="width: 350px;">
  <div class="mb-4 m-4">
    <img src="../../assets/LOGOTIPO/IMG/BluRoom.png" class="img-fluid" />
  </div>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item mb-2 fs-3 d-flex flex-row">

       <a href="#" class="nav-link text-secondary">Mensajes</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
      </svg>

    </li>
    <li class="nav-item mb-2 fs-3">
      <a href="#" class="nav-link text-secondary">Tareas</a>
    </li>
    <li class="nav-item mb-2 fs-3">
      <a href="#" class="nav-link text-secondary">Logros</a>
    </li>
  </ul>
</nav>


