<nav class="d-flex flex-column bg-light position-fixed vh-100 " style="width: 350px;">
  <div class="mb-4 m-4">
    <img src="../../assets/LOGOTIPO/IMG/BluRoom.png" class="img-fluid" />
  </div>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item mb-2 fs-3">
      <a href="#" class="nav-link text-secondary">Mensajes</a>
    </li>
    <li class="nav-item mb-2 fs-3">
      <a href="#" class="nav-link text-secondary">Tareas</a>
    </li>
    <li class="nav-item mb-2 fs-3">
      <a href="#" class="nav-link text-secondary">Logros</a>
    </li>
  </ul>
</nav>


