/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Heavitas';
  src: url('./assets/fonts/heavitas/Heavitas.ttf');
}
@font-face {
  font-family: 'GothicA1';
  src: url('./assets/fonts/Gothic_A1/GothicA1-Black.ttf');
}
